doctype html
include src/pug🧱🧱🧱/basic/basic
html
  +head
  body(data-js=process.env.PUBLIC_URL)
    +fixeds
    #content(data-template="home" data-id="2")
      main.home
        section.home_intro
          .iO.iO-slidetime
          .left
            .left_el
              .left_el_hold
                h3.tit4 
                  .line
                    .word Liberated Love Notes #14
                h2.tit1 I Am Gifted.I Am From a Gifted People
                .btnmore
                  .btnmore_t Listen
            .left_el
              .left_el_hold
                h3.tit4 
                  .line
                    .word Liberated Love Notes #14
                h2.tit1 I WILL NOT LOSE MY SOUL
                .btnmore
                  .btnmore_t Listen
            .left_el
              .left_el_hold
                h3.tit4 
                  .line
                    .word Liberated Love Notes #14
                h2.tit1 I Am Gifted.I Am From a Gifted People other yeah
                .btnmore
                  .btnmore_t Listen
          .right
            .right_hold
              .border
              .border
              .border
              a.right_el.mouseRead(href="" data-type="article")
                img(src="./images/home/1.jpg")
              a.right_el.mouseWatch(href="" data-type="showparent")
                img(src="./images/home/2.jpg")
              a.right_el.mouseListen(href="" data-type="podcastparent")
                img(src="./images/home/3.jpg")
            .right_timer.timer
              .timer_s 99
                
              .timer_b
                .timer_b_f
                  .total
              .timer_e 04
        section.m-sectitle
          .c-vw
            .left
              h2.tit2 Listen
            .right
              .txt-bureau
                p Explore our catalog of podcast discussions with hundreds of executives, entrepreneurs, elected officials, activists, and influencers all focused on the same thing: centering and amplifying Black and brown folks at work.
              
              a.simp(style="--main:#E5855E")
                span Tune in
        section.m-slidrag
          .swiper
            .swiper-wrapper.mouseDrag

              .swiper-slide
                a.pod
                  .pod_image
                    +icon({name:'elipse'})
                    .pod_image_hold
                      img(src="./images/home/4.jpg")
                  .pod_info 
                    h3.tit4 LIBERATED LOVE NOTES
                    p 20 episodes
              
              .swiper-slide
                a.pod
                  .pod_image
                    +icon({name:'elipse'})
                    .pod_image_hold
                      img(src="./images/home/5.jpg")
                  .pod_info 
                    h3.tit4 LIBERATED LOVE NOTES
                    p 34 episodes
              
              .swiper-slide
                a.pod
                  .pod_image
                    +icon({name:'elipse'})
                    .pod_image_hold
                      img(src="./images/home/1.jpg")
                  .pod_info 
                    h3.tit4 LIBERATED LOVE NOTES LOVE NOTES
                    p 20 episodes
              
              .swiper-slide
                a.pod
                  .pod_image
                    +icon({name:'elipse'})
                    .pod_image_hold
                      img(src="./images/home/2.jpg")
                  .pod_info 
                    h3.tit4 LIBERATED LOVE NOTES
                    p 20 episodes
              .swiper-slide
                a.pod
                  .pod_image
                    +icon({name:'elipse'})
                    .pod_image_hold
                      img(src="./images/home/3.jpg")
                  .pod_info 
                    h3.tit4 LIBERATED LOVE NOTES LOVE NOTES
                    p 20 episodes
       
        
        section.m-cta(style="--main:#E5855E")
          .c-vw
            .hold
              h2.tit1 Sign up now
              h3.tit4 Subscribe to curated lists our editorial team has created on the topics that matter to you.
              a.btn.mouseHover
                .btn_t TAP IN
        section.m-sectitle
          .c-vw
            .left
              h2.tit2 Watch
            .right
              .txt-bureau
                p Watch our recurring, live web shows discussing career management, mental health, effective leadership, and more.
              a.simp
                span VIEW ALL
        section.m-slidnum
          .left(style="--main:#895434")
            .left_hold
              .left_el
                h3.tit1 The chat group
                .btnmore
                  .btnmore_t Listen
              .left_el
                h3.tit1 The chat group 2
                .btnmore
                  .btnmore_t Listen
              .left_el
                h3.tit1 The chat group 3
                .btnmore
                  .btnmore_t Listen
            .pg
              .pgel(style="--base:#895434;--main:#FEF9F3")
                .pgel_t 1
              .pgel(style="--base:#895434;--main:#FEF9F3")
                .pgel_t 2
              .pgel(style="--base:#895434;--main:#FEF9F3")
                .pgel_t 3
          .right
            .right_el
              img(src="./images/home/1a.jpg")
            .right_el
              img(src="./images/home/2a.jpg")
            .right_el
              img(src="./images/home/3a.jpg")
        section.m-sectitle
          .c-vw
            .left
              h2.tit2 Read
            .right
              .txt-bureau
                p Peruse dozens of blogs written by thought leaders on topics relevant to workplace inclusion, equity, and justice.
              a.simp
                span VIEW ALL
        section.m-cta(style="--main:#DF80AC")
          .c-vw
            .hold
              h2.tit1 SUPPORT OUR MISSION
              h3.tit4 Living Corporate’s mission is singular in purpose, but diversified in approach. From our podcasting, to live events around the US, to our giveaways.WE AMPLIFY Underrepresented Voices 
              a.btn
                .btn_t Support
        section.m-sectitle
          .c-vw
            .center
              h2.tit2 Featured Guests and Brands
            
              a.simp(style="--main:#E5855E")
                span VIEW ALL
        section.m-logos
          .c-vw
            a
              img(src="./images/logos/1.png")
            a
              img(src="./images/logos/2.png")
            a
              img(src="./images/logos/3.png")
            a
              img(src="./images/logos/4.png")
            a
              img(src="./images/logos/5.png")
            a
              img(src="./images/logos/6.png")
            a
              img(src="./images/logos/7.png")
            a
              img(src="./images/logos/8.png")
            a
              img(src="./images/logos/9.png")
            a
              img(src="./images/logos/10.png")
        +footer
    script(sync type="module" src="./src/app.js")