doctype html
include src/pug🧱🧱🧱/basic/basic
html
  +head
  body(data-js=process.env.PUBLIC_URL)
    +fixeds
    +nav
    #content(data-template="podcast" data-id="2")
      main.podcast
        section.m-dualintro.m-dualintro-network
          .left(style="background-color:#005EFE")
            .bc
              a LC
              span /
              a NETWORK
              span /
              span Dropbox
            .left_logo
              img(src="./images/network/dropbox.svg")
          .right
            .right_el
              img(src="./images/home/1.jpg")
            
        section.m-dualsep
          .left
            h2.tit2 ABOUT DROPBOX
          .right
            .txt-bureau
              p Liberated Love Notes™ is a starting point for integrating self and community affirmations into your daily practices. Liberated Love Notes center the experiences of Black folks existing in white systems and speak to overcoming imposter syndrome, disrupting injected & internalized forms of oppression, embodying an abundance mindset and building a healthy racial identity.  Tune in for a new episode every Monday wherever you listen to podcasts!
            a.simp
              span VISIT SITE
        section.m-social
          .left
            h2.tit4 FOLLOW DROPBOX
          .right
            .social
              a(href="")
                +icon({name:'ig'})
              a(href="")
                +icon({name:'in'})
              a(href="")
                +icon({name:'tw'})

        section.m-tabposts(style="--main:#E5855E")
          .m-tabposts_hold
             each val in [1, 2, 3, 4, 5]

              .networklist
                
                .networklist_image
                  .networklist_image_hold
                    img(src="./images/network/1.jpg")
                .networklist_info
                  h3.tit4 Disability & STEM While Black
                  p.desc w / Rose Robinson
                  .btnplay
                    .btnplay_tri
                  .autor
                    p by <a>Real Talk tuesdays</a>
                  .networklist_info_bottom
                    .datapod
                      .datapod_play 1,560
                      .datapod_date DEC 13, 2021
                      .datapod_time 15mins
                    .shareclick
                      +icon({name:'share'})
        section.m-cta(style="--main:#DF80AC")
          .c-vw
            .hold
              h2.tit1 Sign up now
              h3.tit4 Subscribe to curated lists our editorial team has created on the topics that matter to you.
              a.btn
                .btn_t TAP IN
        +footer
    script(sync type="module" src="./src/app.js")

    'meta_query'	=> array(
		'relation'		=> 'AND',
		array(
			'key'	 	=> 'color',
			'value'	  	=> array('red', 'orange'),
			'compare' 	=> 'IN',
		),
		array(
			'key'	  	=> 'featured',
			'value'	  	=> '1',
			'compare' 	=> 'LIKE',
		),
	),