.home{
  opacity:0;
  &_intro{

    height:calc(var(--app-height) - $header);
    margin-top:$header;
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    position:relative;
    @include breakPortrait{
      flex-direction: column;
    }
    @include breakMobile{
      
    }
    .iO-slidetime{
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      width:1px;
    }

    .left{
      position:relative;
      width:50%;
      background:$pink;
      @include breakPortrait{
        width:100%;
        // flex-grow: 1;
        height:38vw;
        flex-shrink: 0;
      }
      @include breakMobile{
        height:80vw;

      }
      &_el{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:$gut;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        overflow: hidden;
        &_hold{
          position:relative;
          width:100%;
          padding-left:$gut;
          padding-right:4.8rem;
          
          .tit4{
            margin-bottom: 2.4rem;
            @include breakPortrait{
              margin-bottom: 1rem;
            }
            .line{
              display: block;
              width: 100%;
              overflow: hidden;
            }
            .word{
              display: inline-block; 
              position: relative;
              transform: translate(0%, 120%);
              transition:.6s all $swiftOut;
            }
          }
          .tit1{

            .line{
              position:relative;
              overflow: hidden;
            }
          }
          .btnmore{
            margin-top:2.4rem;
            transform:translateY(120%);
            transition:.6s all $swiftOut;
            @include breakPortrait{
              margin-top:1.2rem;
            }
            
            @include hover{
              display:none;
            }
          }
        }
        &:before{
          content:'';
        }
        &.active{
            .tit4 .word{
              transform:translateY(0);
              transition:.6s all 1s $swiftOut;
            }
            .btnmore{
              transform:translateY(-2%);
              transition:.6s all 1s $swiftOut;

            }
        }
      }
    }
    .right{
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: flex-end;
      justify-content: center;
      // padding-left:9.5rem;
      @include breakDesktop{
        width:50%;
        padding-bottom: 4rem;
        padding-right:2.5rem;
        border-left:1px solid $dark;

      }
      @include breakPortrait{
        width:100%;
        padding:2.4rem;
        height: 100%;
      }
      @include breakMobile{
        padding:1.4rem 0;
      }
      &_timer{
        padding-left:10%;
        padding-right:10%;
        @include breakPortrait{
          padding-left:2.4rem;
          padding-right:2.4rem;
          margin-top: auto;

        }
        @include breakMobile{
          padding-left:1.6rem;
          padding-right:1.6rem;

        }
      }
      &_hold{
        overflow:hidden;
        position:relative;
        width:100%;
        display:flex;
        margin:auto 0;
        @include breakPortrait{
          max-width: 70vw;
        }
        @include breakMobile{
          max-width: 100%;
          transform:scale(1.15);
        }
        &::after{
          content:'';
          display:block;
          padding-bottom: 100%;
          @include breakPortrait{

            padding-bottom: 80%;
          }
          @include breakMobile{
            padding-bottom: 60%;
          }
        }
        

      }
      .border{
        @include center;
        width:0%;
        height:0%;
        border:1px solid $dark;
        pointer-events: none;
        &.active{

        z-index:5;
        }
      }
      &_el{
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        // transition:.6s all $swiftOut;
        @include clock;
        z-index:3;
        pointer-events: none;
        img{
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          filter:blur(6px);
          object-fit: cover;
          object-position: center;
          transform:scale(1);
          transition:.6s all $swiftOut;
        }
        &.active{
          pointer-events: all;

          // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          // transition:1.4s clip-path .3s $swiftOut;
          z-index:4;
          img{
            filter:blur(0);
            transform:scale(.8);
            transition:1.8s all $swiftOut;
          }
        }
      }

    }
    &:not(.delayed){
      .active{
        transition-delay:0s!important;
        & > div{
          transition-delay:0s!important;

        }
      }
    }

    &:has(.home_intro_grid){
      height: 100vh;
      margin-top: 0;
      position: relative;
      overflow: hidden;
    }

    &_grid{
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(3, 0.33333333fr);
      grid-template-rows: repeat(3, 0.33333333fr);
      height: calc(100vh - var(--header));
      margin-top: var(--header);
      overflow: hidden;
      transform: scale(3.3);
      transition: 0.15s;
      width: 100%;

      &-image{
        --heightA: calc(100vh - var(--header));
        --heightB: calc(var(--heightA) / 3);
        width: calc((100vw/3) - 10.6667px);
        height: calc(var(--heightB) - 10.6667px);

        img, video {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }

        video {
          &::-webkit-media-controls,
          &::-webkit-media-controls-panel,
          &::-webkit-media-controls-enclosure {
            display: none !important;
          }
        }
      }
    }

    &_overlay{
      align-items: center;
      background-color: #00000080;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      justify-content: center;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;

      h1, span {
        color: white;
        font-size: 2rem;
      }

      h1 {
        font-size: 5rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

.touch {
  .home_intro_overlay {
    h1 {
      font-size: 3rem;
    }
  }
}