doctype html
include src/pug🧱🧱🧱/basic/basic
html
  +head
  body(data-js=process.env.PUBLIC_URL)
    +fixeds
    #content(data-template="home" data-id="2")
    
    script(sync type="module" src="./src/app.js")