doctype html
include src/pug🧱🧱🧱/basic/basic
html.logme
  +head
  body(data-js="http://165.227.64.123:8126/")
    +fixeds
    #content(data-template="jobs" data-id="2")
    script(sync type="module" src="./src/app.js")