doctype html
include src/pug🧱🧱🧱/basic/basic
html.logme
  +head
  body(data-token="ojMtU19xuLKVFks0p9WuMAElXXu20mP8Vu084GRFADB" data-js=process.env.PUBLIC_URL)
    +fixeds
    #content(data-template="podcast" data-id="392")
    
    script(sync type="module" src="./src/app.js")