doctype html
include src/pug🧱🧱🧱/basic/basic
html
  +head
  body(data-js="https://living-corporate.com")
    +fixeds
    #content(data-template="podcast" data-id="7326")
    
    script(sync type="module" src="./src/app.js")