.shared-login {
  section {
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    img {
      position: absolute;
      left: -18rem;
      bottom: 0;
      width: 95rem;

      @include breakPortrait {
        display: none;
      }
    }

    .top-title {
      padding: 2rem;
    }

    .c-vw {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .box {
        width: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 26%;
        margin-top: 4.5%;

        .btn {
          margin-top: 3rem;
        }

        .login-btns {
          display: inherit;
          flex-direction: row;
          justify-content: space-between;
        }

        .text-divider{
          margin-top: 3rem;
          &::before{
            content: "";
            background-color: #5a5a5a;
            width: 100%;
            height: 2px;
            display: block;
            position: relative;
            top: 0.8rem;
            z-index: -1;
          }
          span {
            padding: 6px 10px;
          }
        }

        .sso-btn {
          width: inherit;
        }
      }
    }

    .sponsor-logo {
      img {
        width: 25%;
        right: 0;
        left: unset;
      }
    }
  }
}

html.is_shared{
  .player-module {
    &__date,
    &__type {
      display: none;
    }

    &-page {
      &__info {
        span:nth-child(2) {
          display: none;
        }
      }
    }
  }
}