.m-networks{
  &_hold{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left:-1px;
    .network{
      width: colSize(4);
      border-top:1px inset $dark;
      border-left:1px inset $dark;
      @include breakMobile{
        width:100%;
      }

    }
    .fake{
      width: colSize(4);
      border-top:1px inset $dark;
      border-left:1px inset $dark;
      align-self: stretch;
      @include breakMobile{
        display:none;
      }
    }
    
    & + .pg{
      border-top:1px solid $dark;
      padding:$pad $pad 2.4rem;
      width:100%;
      &.hide{
        display:none
      }
    }
  }
}