mixin cookies(data)

  .cookies
    p Estas cookies no son dulces ni nutritivas, las usamos para saber quién eres y de dónde eres, como en todas las webs del mundo.
    .btnaccept
      .btnaccept_t Aceptar
      .btnaccept_i
        +icon({name:'arrowlink'})