mixin fixeds(data)
  .searchbg
  .modal
    .modal_bg
    .modal_content
      .modal_close
        span
        span
      .modal_content_text
        h3.tit4 Must Reads for Aspiring Allies
        h2.tit1 Subscribe to stay updated on this list
        .field.field-email
          label.field_lbl Name
          input.field_npt
          .field_err Wrong format
          .field_button
            .btninput
              .btninput_t Suscribe
        .chk
          input.chk_npt(type="checkbox")
          .chk_s
            .chk_i
          label.chk_lbl I accept <a>Terms and conditions</a>
      img(src="./public/modal.png")