mixin footer(data)
  footer.footer
    .c-vw
      .footer_first
        a.footer_logo
          +icon({name:'logo'})
        p SIGN UP AND subscribE to the topics that resonate with you. WE’VE GOT CURATED CONTENT AND important topics that center Black and brown folks at work.
        .btn.btn-i
          .btn_t SIGN UP
      .footer_menu 
        .tab
          .tabClick
            h3.tit4 Menu
          .tabHold
            .tabBox
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span PODS
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span Network
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span legal terms
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span shows
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span lists
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span privacy
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span articles
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span shop
            
              .menu_el
                a.simp(style="--main:#DF80AC")
                  span login
      .footer_bottom
        p.copy.tit4 ©2022, LIVING CORPORATE, LLC
        p.right.tit4 All content does not necessarily represent the views of our employers or affiliates.
        .social
          a(href="https://podcasts.apple.com/us/podcast/living-corporate/id1358453989?mt=2")
            +icon({name:'radar'})
          a(href="https://open.spotify.com/show/2mRmf9FpyH8GfhRNSQ1ZV9")
            +icon({name:'spotify'})
          a(href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/Iuzkoowp5nwq6ax3zjwdco4ovyq?t%3DLiving_Corporate%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16&_imcp=1")
            +icon({name:'triangulo'})
          a(href="https://www.stitcher.com/show/living-corporate")
            +icon({name:'cuadraditos'})
          a(href="https://livingcorporate.slack.com/join/shared_invite/zt-6ghplgtz-VvlLDp6p~jxVcwwp8Lx~7g#/shared-invite/email")
            +icon({name:'slack'})
          a(href="https://www.instagram.com/livingcorporate/")
            +icon({name:'ig'})
          a(href="https://www.linkedin.com/authwall?trk=ripf&trkInfo=AQHtQScKNdvsRgAAAYBLnRN4XcP9HVbXXd[…]tps%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fliving-corporate%2F")
            +icon({name:'in'})
          a(href="https://www.facebook.com/livingcorporatepodcast/")
            +icon({name:'fb'})