mixin loader(data)
  .loader
    video.videocheck.videored(preload="false" muted playsinline data-webm="https://csskiller.es/wildcatter/loaderred.webm" data-mp4="https://csskiller.es/wildcatter/loaderred.mp4")
    video.videocheck.videoblack(preload="false" muted playsinline data-webm="https://csskiller.es/wildcatter/loaderblack.webm" data-mp4="https://csskiller.es/wildcatter/loaderblack.mp4")